$linkColor = #4892e2
$bgColor = #bac2d1

body
.sidebar
    background-color: $bgColor

a
    color: $linkColor

a.active.sidebar-link
    color: $linkColor
    border-left-color:#2c83e0

a.sidebar-link
    &:hover
        color: $linkColor
